.recipe-carousel-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: "Quicksand", "sans-serif";

    /* border: 5px solid gold; */
}

.recipe-card-container {
    height: 550px;
    background-color: black;
    height: 700px;

    /* border: 5px solid green; */
}

.recipe-card {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), var(--img);

    /* border: 5px solid red; */
}

.recipe-detail {
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: space-between;
    width: 70%;

    /* border: 5px solid red; */
}

.recipe-poster {
    overflow: hidden;
    margin-left: 100px;
    width: 500px;

    --s: 10px;
    /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid white;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, white 0);

    /* border: 5px solid red; */
}

.recipe-poster > img {
    border: 1px solid black;
}

.recipe-poster>img {
    height: 100%;
    width: 100%;

}

.recipe-title {
    color: white;
    display: flex;
    align-items: center;
    font-weight: bolder;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    max-width: 300px;

    /* border: 5px solid red; */
}

.recipe-buttons-container {
    /* font-family: 'Bebas Neue', sans-serif; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-button {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, #4e79a8, #8fb1e0, #c3d3f2);
    color: black;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.recipe-button span {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}

.recipe-button-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.recipe-button-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}

.recipe-button:hover .recipe-button-text-one {
    top: -100%;
}

.recipe-button:hover .recipe-button-text-two {
    top: 50%;
}


@media only screen and (max-width: 800px) {
    .movie-detail {
        flex-direction: column;
        align-items: center;
        top: 20px;
    }
}



@keyframes shining {
    0% {
        color: #ffeb3b;
        /* Yellow color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }

    50% {
        color: #ffdf00;
        /* A slightly darker yellow */
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    }

    100% {
        color: #ffeb3b;
        /* Reverts back to the initial yellow color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
}

.today-inspiration {
    animation: shining 2s infinite;
    color: #ffeb3b;
    /* Initial yellow color */
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Dancing Script', cursive;
}