.whole-container {
    font-family: "Quicksand", "sans-serif";
    padding: 10px;

    background-color: red;
    /* border: 2px solid red; */
}

.review-title {
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
}

.review-img-container {
    width: 400px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;

    /* border: 2px solid red; */
}

.review-img {
    margin-bottom: 10px;
    border-radius: 20px;
}

.ingredients-instructions {
    margin-left: 10px;
}