.magic-container {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    opacity: 100%;
    padding: 10px;

    border: 2px solid red;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 10px;

    /* border: 2px solid red; */
}

.pagination li {
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.whole-recipe-item {
    text-align: center;
}

.recipe-item {
    height: 50px;
    /* Adjust the value based on your design preferences */
    overflow: hidden;

    /* border: 2px solid red; */
}

.title-col {
    max-height: 3em;
    /* Adjust the value based on your design preferences */
    overflow: hidden;
    text-overflow: ellipsis;
}

.magic-img {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;

    /* border: 2px solid red; */
}

.magic-img>img {
    border-radius: 5px;
}

.form-label {
    font-size: 20px;
}

/*  .magic-img-container {
    width: 200px;
  } */