@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {

  box-sizing: border-box;
  /* font-family: 'Quicksand', Arial, Helvetica, sans-serif; */
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: green; */
  background-image: url("assets/background2.jpg");
  background-size: cover;
  /* or contain, or a specific value like 100% 100% */
  background-repeat: no-repeat;
  background-position: center center;
  /* or specify the position like 50% 50% */
  color: white;
}


/* border: 5px solid blue; */